{%- extends "base.html" %}

<!-- Import form rendering macro -->
{% from '_formhelpers.html' import render_field %}

<!-- Styles -->
{% block styles %}
{{ super() }}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet" media="screen">
{% endblock %}


<!-- No navbar here -->
{% block navbar %}
{% endblock %}


<!-- Content -->
{% block content %}
<div class="form-auth">
    <form method="POST">
        {{ form.csrf_token() }}

        <div class="row mb-4">
            <div class="col col-3">
                <a href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="" width="72" height="72">
                </a>
            </div>
            <div class="col col-9 d-flex fs-4">
                <div class="mt-auto mb-auto">
                    <a href="{{ url_for('main.index') }}" class="text-decoration-none link-dark">ASDF-Dashboard</a>
                </div>
            </div>
        </div>

        {% block formcontent %}
        {% endblock %}
    </form>
</div>

{% endblock %}