{%- extends "auth/auth_base.html" %}

{% block title %}Login{% endblock %}


{% block formcontent %}

{{ render_field(form.email_or_username, form.is_submitted(), class='form-floating') }}
{{ render_field(form.password, form.is_submitted(), class='form-floating') }}

<div class="checkbox mb-3 ">
    {{ form.remember_me }}
    {{ form.remember_me.label }}
</div>

{{ form.submit(class="w-100 btn btn-lg btn-primary") }}
<!--        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>-->

<div class="text-center">
    Don't have an account yet? <a href="{{ url_for('auth.register') }}">Register</a>
</div>

{% endblock %}