{%- extends "auth/auth_base.html" %}

{% block title %}Register{% endblock %}


{% block formcontent %}

<h1 class="h3 mb-3 fw-normal">Account Registration</h1>

{{ render_field(form.username, form.is_submitted(), class='form-floating') }}
{{ render_field(form.email, form.is_submitted(), class='form-floating') }}
{{ render_field(form.password, form.is_submitted(), class='form-floating') }}
{{ render_field(form.confirm, form.is_submitted(), class='form-floating') }}

{{ form.submit(class="w-100 btn btn-lg btn-primary") }}


<div class="text-center">
    Already have an account? <a href="{{ url_for('auth.login') }}">Login</a>
</div>

{% endblock %}