Flask==2.3.2
Werkzeug==2.3.3
psycopg2-binary==2.9.6
Flask-SQLAlchemy==3.0.3
Flask-DebugToolbar==0.13.1
Flask-WTF==1.2.0
WTForms-Components==0.10.5
Flask-Login==0.6.2
Flask-Mailman==0.3.0
Flask-Nav==0.6
Flask-Caching==2.0.2
bcrypt==4.0.1
numpy==1.23.5
pandas==2.0.1
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2
aif360==0.4.0
ipywidgets==8.0.6
itables==1.5.2
progressbar2==4.2.0
celery[redis]==5.2.7
python-dotenv==1.0.0
itsdangerous==2.1.2
pyclustering==0.10.1.2
lime