{%- extends "base.html" %}


<!-- Styles -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
<link href="{{ url_for('static', filename='css/sidebars.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
{% endblock %}


<!-- No navbar here but a side bar instead -->
{% block navbar %}
{% endblock %}


<!--  -->


<!-- Content -->
{% block content %}
{% include 'dashboard/dashboard_svg.html' %}

<!--<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">-->
<!--    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>-->
<!--    <span class="navbar-text col-md-8 col-lg-9">-->
<!--        <h1>Text</h1>-->
<!--    </span>-->
<!--    <div class="navbar-nav">-->
<!--        <div class="nav-item text-nowrap">-->
<!--            <a class="nav-link px-3" href="{{ url_for('auth.logout') }}">Sign out</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->


<div class="container-fluid p-0">
    <main>
        <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
            <a href="{{ url_for('main.index') }}" class="d-block p-3 link-dark text-decoration-none border-bottom">
                <svg class="bi" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="visually-hidden">Icon-only</span>
            </a>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" id="navList">
                <li class="nav-item">
                    <a href="{{ url_for('dashboard.index') }}" class="nav-link py-3 border-bottom"
                       aria-current="page"
                       title="Home"
                       data-bs-toggle="tooltip" data-bs-placement="right">
                        <svg class="bi" width="24" height="24" role="img" aria-label="Home">
                            <use xlink:href="#home"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('dashboard.datasets') }}" class="nav-link py-3 border-bottom"
                       title="Datasets"
                       data-bs-toggle="tooltip"
                       data-bs-placement="right">
                        <svg class="bi" width="24" height="24" role="img" aria-label="Datasets">
                            <use xlink:href="#upload"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('dashboard.inspect') }}" class="nav-link py-3 border-bottom" title="Inspect"
                       data-bs-toggle="tooltip"
                       data-bs-placement="right">
                        <svg class="bi" width="24" height="24" role="img" aria-label="Inspect">
                            <use xlink:href="#table"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('dashboard.evaluation') }}" class="nav-link py-3 border-bottom"
                       title="Dashboard" data-bs-toggle="tooltip"
                       data-bs-placement="right">
                        <svg class="bi" width="24" height="24" role="img" aria-label="Dashboard">
                            <use xlink:href="#speedometer2"/>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="dropdown border-top">
                <a href="#"
                   class="d-flex align-items-center justify-content-center p-3 link-primary text-decoration-none dropdown-toggle"
                   id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class="bi" width="24" height="24" role="img" aria-label="Customers">
                        <use xlink:href="#people-circle"/>
                    </svg>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign out</a></li>
                </ul>
            </div>
        </div>


        <!--        <div class="col-md-10 col-lg-11">-->
        {% block inner_content %}
        {% endblock %}
        <!--        </div>-->


    </main>

</div>


{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/sidebars.js') }}"></script>
{% endblock %}