{% extends "dashboard/dashboard_base.html" %}

{% block inner_content %}
<form style="margin-left: 5em; margin-right: 5em;">
    <div class="row">
        <label for="dataset-select" class="col-sm-2 col-form-label-lg">Select a dataset</label>
        <div class="col-sm-2">
            <select class="form-select form-select-lg" id="dataset-select" name="dataset">
                {% for d in all_datasets %}
                <option value="{{ d.id }}">{{ d.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-sm-3 form-check form-switch form-control-lg">
            <input class="form-check-input" type="checkbox" role="switch" id="switch">
            <label class="form-check-label" for="switch">Positive class label: 0</label>
        </div>

        <div class="col-sm-3 form-control-lg">
            <label for="threshold" class="form-label">Entropy threshold: 0.65</label>
            <input type="range" class="form-range" min="0" max="1" step="0.01" value="0.65" id="threshold">
        </div>

        <div class="col-sm-2 form-control-lg">
            <input class="btn btn-lg btn-primary" id="task-submit" name="submit" type="button"
                   value="Evaluate Fairness"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <ul class="dropdown-menu col-sm-4">
                <li>
                    <label>
                        <input type="checkbox">
                        Checky
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox">
                        Checky2
                    </label>
                </li>
            </ul>
        </div>

        <div class="col-sm-5 form-control-lg">
            <label for="select-algo">Clustering algorithm:</label>
            <select class="form-select-lg" id="select-algo">
                {% for algorithm in clustering_algos %}
                <option value="{{algorithm}}">{{algorithm}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>


<div class="row">
    <p>
        Additional parameters/selections/customization

        Categorical columns
    </p>
    <div class="alert alert-info" id="task-status" role="alert" style="display: none;">
        Display progress information
    </div>
</div>

<div id="chart-area" style="display: none;">
    <div class="row">
        <div class="col-sm-5">
            <canvas id="chart-fair"></canvas>
        </div>
        <div class="col-sm-7" style="overflow-x: auto">
            <div class="chart-container" style="position: relative; width: 100%; height: 100%">
                <canvas id="chart-group"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <table id="table-groups"
               data-pagination="true"
               data-page-list="[5, 10, 25, 50, all]"
               data-detail-view="true"
               data-detail-view-by-click="true"
               data-height="460">
        </table>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <canvas id="chart-select"></canvas>
        </div>
    </div>

</div>

{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"
        integrity="sha256-ErZ09KkZnzjpqcane4SCyyHsKAXMvID9/xwbl/Aq1pc=" crossorigin="anonymous"></script>
<script>
    const start_task_url = JSON.parse('{{ url_for("task.start_fairness_task") | tojson }}')
</script>
<script src="{{ url_for('static', filename='js/fairness.js') }}"></script>
{% endblock %}