<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - TestApp</title>

    <!-- Flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Bootstrap -->
    {% block styles %}
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
    {% endblock %}
</head>
<body>

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %} {% endblock %}

<!-- Bootstrap -->
{% block scripts %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
{% endblock %}

</body>
</html>