{%- extends "base.html" %}

<!-- Import form rendering macro -->
{% from '_formhelpers.html' import render_field %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1 class="h1">Profile of {{ current_user.name }}</h1>

{% if current_user.is_authenticated %}
<p>Hello {{ current_user.name }}!</p>
{% endif %}

<div class="row p-2 gx-5 gy-3">

    <!-- Change password -->
    <form method="POST" class="col col-4">
        <h1 class="h5 ms-4">Change password</h1>

        {{ form.csrf_token() }}
        <div class="row p-2 g-3 d-flex ">
            {{ render_field(form.old_password, form.is_submitted(), class='form-floating') }}
            {{ render_field(form.new_password, form.is_submitted(), class='form-floating') }}
            {{ render_field(form.confirm, form.is_submitted(), class='form-floating') }}
            {{ form.submit(class="w-50 form-floating btn btn-lg btn-primary ms-auto me-auto")}}
        </div>

    </form>

    <!-- Quota -->
    <div class="col col-4">
        <h1 class="h5 ms-4">Quota</h1>
        <canvas id="chart-quota"></canvas>
    </div>

    <!-- Delete all uploaded datasets -->
    <div class="col col-4">
        <h1 class="h5 ms-4">Delete all uploaded datasets</h1>

    </div>

</div>


{% endblock %}


{% block scripts %}
{{ super() }}
<script>
    const quota_url = JSON.parse('{{ url_for("main.quota") | tojson }}')
</script>
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}