{%- extends "base.html" %}

<!-- Import form rendering macro -->
{% from '_formhelpers.html' import render_field %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1 class="h1">Profile of {{ current_user.name }}</h1>

{% if current_user.is_authenticated %}
<p>Hello {{ current_user.name }}!</p>
{% endif %}

<div class="row p-2 gx-5 gy-3">

    <!-- Change password form + successful change modal -->
    <form method="POST" id="password-change-form" class="col col-4">
        <h1 class="h5 ms-4 mb-4">Change password</h1>

        {{ form.csrf_token() }}
        <div class="row p-2 g-3 d-flex ">
            {{ render_field(form.old_password, form.is_submitted(), class='form-floating') }}
            {{ render_field(form.new_password, form.is_submitted(), class='form-floating') }}
            {{ render_field(form.confirm, form.is_submitted(), class='form-floating') }}
            {{ form.submit(class="w-50 form-floating btn btn-lg btn-primary ms-auto me-auto")}}
        </div>
    </form>

    <div class="modal fade" id="password-changed" tabindex="-1"
         aria-labelledby="password-changed-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="password-changed-label">Password change successful</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="parameter-modal-body">
                    Your password has successfully been updated!
                    <svg class="bi" width="32" height="32" fill="currentColor">
                        <use xlink:href="#check-lg"/>
                    </svg>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Quota -->
    <div class="col col-4">
        <h1 class="h5 ms-4 mb-4">Quota</h1>
        <canvas id="chart-quota"></canvas>
    </div>

    <!-- Delete all uploaded datasets -->
    <div class="col col-4">
        <div class="row p-2 g-3 d-flex ">
            <h1 class="h5 ms-4 mb-4">Delete All My Uploaded Datasets</h1>
            <button type="button" class="btn btn-lg btn-danger w-50 ms-auto me-auto" id="delete-datasets"
                    data-bs-toggle="modal" data-bs-target="#confirm-delete-data">
                <svg class="bi" width="20" height="20">
                    <use xlink:href="#trash-fill"></use>
                </svg>
                Delete My Datasets
            </button>


            <div class="modal fade" id="confirm-delete-data" tabindex="-1" aria-labelledby="cdd-label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cdd-label">Are you sure?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you really want to delete your uploaded datasets?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" id="confirm-button-data">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#trash-fill"></use>
                                </svg>
                                Delete My Datasets
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="h5 ms-4 mb-4">Delete Account</h1>
            <button type="button" class="btn btn-lg btn-danger w-50 ms-auto me-auto" id="delete-account"
                    data-bs-toggle="modal" data-bs-target="#confirm-delete-account">
                <svg class="bi" width="20" height="20">
                    <use xlink:href="#trash-fill"></use>
                </svg>
                Delete My Account
            </button>


            <div class="modal fade" id="confirm-delete-account" tabindex="-1" aria-labelledby="cda-label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cda-label">Are you sure?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you really want to delete your account?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" id="confirm-button-account">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#trash-fill"></use>
                                </svg>
                                Delete My Account
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}


{% block scripts %}
{{ super() }}
<script>
    const quota_url = JSON.parse('{{ url_for("main.quota") | tojson }}')
    const show_modal = JSON.parse('{{ password_updated | tojson }}')
    const delete_data_url = JSON.parse('{{ url_for("dashboard.delete_all_datasets") | tojson }}')
    const delete_account_url = JSON.parse('{{ url_for("main.delete_account") | tojson }}')
</script>
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}